@font-face {
    font-family: "Maison Neue Extended SemiBold";
    src: local("Maison Neue Extended SemiBold"), url("/assets/fonts/MaisonNeueExtended-SemiBold.otf") format("opentype");
}

@font-face {
    font-family: "Maison Neue Book";
    src: local("Maison Neue Book"), url("/assets/fonts/MaisonNeue_Book.otf") format("opentype");
}

@font-face {
    font-family: "Maison Neue Bold";
    src: local("Maison Neue Book"), url("/assets/fonts/MaisonNeue_Bold.otf") format("opentype");
}

@font-face {
    font-family: "Maison Neue Extended Book";
    src: local("Maison Neue Extended Book"), url("/assets/fonts/MaisonNeueExtended-Book.otf") format("opentype");
}

@font-face {
    font-family: "Maison Neue Light";
    src: local("Maison Neue Light"), url("/assets/fonts/MaisonNeue_Light.otf") format("opentype");
}

@font-face {
    font-family: "Maison Neue Extended Bold";
    src: local("Maison Neue Extended Bold"), url("/assets/fonts/MaisonNeueExtended-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Maison Neue Extended Light";
    src: local("Maison Neue Extended Light"), url("/assets/fonts/MaisonNeueExtendedLight.woff") format("woff");
}